<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

    <script src="../extern/fullscreen.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />

    <title>Kanji Navigator</title>
    <style>
        @import url(style.css);
        @import url(feStyle.css);
    </style>
</head>


<body>
    <img style="display:none" src="tanoshi.png"></img>

    <div id="helpDiv">
        <p class="helpText">Highlight a word in Japanese on the page, then press this button.</p>
    </div>

    <div id="mainDiv">

        <select id="wordHistoryCombo">
        <option value="楽しい">楽しい</option>
        <option value="産業">産業</option>
    </select>

        <button title="Add to map" id="addButton" type="button" class="btn btn-default btn-xs" id="addButton"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
        <button title="Clear Map" id="clearButton" type="button" class="btn btn-default btn-xs"><i class="fa fa-eraser" aria-hidden="true"></i></button>
        <button title="Save current graph" id="saveButton" type="button" class="btn btn-default btn-xs" id="addButton"><i class="fa fa-bookmark-o" aria-hidden="true"></i></button>
        <button title="Load saved graph" id="loadButton" type="button" class="btn btn-default btn-xs" id="addButton"><i class="fa fa-bookmark" aria-hidden="true"></i></button>

        <div class="btn-group" data-toggle="buttons">

            <label class="jlptBtn btn btn-xs btn-success" data-toggle="tooltip" title="JLPT5">
            <input id='JLPT5' type="checkbox" autocomplete="off">
            <span class="glyphicon glyphicon-ok"></span>
        </label>

            <label class="jlptBtn btn btn-xs btn-info yellow" data-toggle="tooltip" title="JLPT4">
            <input id='JLPT4' type="checkbox" autocomplete="off">
            <span class="glyphicon glyphicon-ok"></span>
        </label>

            <label class="jlptBtn btn btn-xs btn-primary" data-toggle="tooltip" title="JLPT3">
            <input id='JLPT3' type="checkbox" autocomplete="off">
            <span class="glyphicon glyphicon-ok"></span>
        </label>

            <label class="jlptBtn btn btn-xs btn-warning" data-toggle="tooltip" title="JLPT2">
            <input id='JLPT2' type="checkbox" autocomplete="off">
            <span class="glyphicon glyphicon-ok"></span>
        </label>

            <label class="jlptBtn btn btn-xs btn-danger" data-toggle="tooltip" title="JLPT1">
            <input id='JLPT1' type="checkbox" autocomplete="off">
            <span class="glyphicon glyphicon-ok"></span>
        </label>
        </div>
        <select title="Add removed word to map" id="hiddenWordsCombo" style="display:inline-block">
        <option></option>
    </select>
        <div id="toolbarRight">
            <button title="Switch to full screen mode" id="fullScreenButton" type="button" class="btn btn-default btn-xs"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
            <button title="Zoom to fit" id="zoomToFitButton" type="button" class="btn btn-default btn-xs"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
        </div>

        <div id='kanjiMap'>
            <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
                <defs>
                    <filter id="wcShadow" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity=".5" flood-color="#000" result="flood" />
                        <feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" />
                        <feGaussianBlur in="composite1" stdDeviation="3" result="blur" />
                        <feOffset dx="1" dy="1" result="offset" />
                        <feComposite in="SourceGraphic" in2="offset" result="composite2" />
                    </filter>

                    <g id='kanjiBG'>
                        <circle cx="0" cy="0" r="21" stroke-width=".025" />
                    </g>

            <!--
            void Main()
            {
                var fontSize = 22;
                var wordLength = 3;

                wordCard(fontSize, 1).Dump();
                wordCard(fontSize, 2).Dump();
                wordCard(fontSize, 3).Dump();
                wordCard(fontSize, 4).Dump();
                wordCard(fontSize, 5).Dump();

            }

            string wordCard(int fontSize, int wordLength)
            {
                var boxCornerR = 8;
                var buttonSize = 8;

                var boxHeight = fontSize * 2;
                var boxLength = Math.Max(boxHeight, fontSize * wordLength * 1.2);

                var xSize = buttonSize * 0.5;

                return $@"
            <g class='wordCard' filter='url(#wcShadow)' id='wc_{wordLength}'
                transform='translate({-boxLength / 2}, {-boxHeight / 2})'>
                <g>
                    <rect y='0' x='0' height='{boxHeight}' width='{boxLength}' 
                    rx='{boxCornerR}' ry='{boxCornerR}'/>
                    <circle cx='{boxLength}' cy='0' r='{buttonSize}'/>
                </g>
                
                <g transform='rotate(45 {boxLength} 0)'>
                    <path class='x-sign' d='M {boxLength - xSize},0 {boxLength + xSize},0'/>
                    <path class='x-sign' d='M {boxLength},{-xSize} {boxLength},{xSize}'/>
                </g>                      
            </g>
            ";
            }
            -->

                    <g class='wordCard' filter='url(#wcShadow)' id='wc_1' transform='translate(-22, -22)'>
                        <g>
                            <rect y='0' x='0' height='44' width='44' rx='8' ry='8' />
                            <circle cx='44' cy='0' r='8' />
                        </g>

                        <g transform='rotate(45 44 0)'>
                            <path class='x-sign' d='M 40,0 48,0' />
                            <path class='x-sign' d='M 44,-4 44,4' />
                        </g>
                    </g>

                    <g class='wordCard' filter='url(#wcShadow)' id='wc_2' transform='translate(-26.4, -22)'>
                        <g>
                            <rect y='0' x='0' height='44' width='52.8' rx='8' ry='8' />
                            <circle cx='52.8' cy='0' r='8' />
                        </g>

                        <g transform='rotate(45 52.8 0)'>
                            <path class='x-sign' d='M 48.8,0 56.8,0' />
                            <path class='x-sign' d='M 52.8,-4 52.8,4' />
                        </g>
                    </g>

                    <g class='wordCard' filter='url(#wcShadow)' id='wc_3' transform='translate(-39.6, -22)'>
                        <g>
                            <rect y='0' x='0' height='44' width='79.2' rx='8' ry='8' />
                            <circle cx='79.2' cy='0' r='8' />
                        </g>

                        <g transform='rotate(45 79.2 0)'>
                            <path class='x-sign' d='M 75.2,0 83.2,0' />
                            <path class='x-sign' d='M 79.2,-4 79.2,4' />
                        </g>
                    </g>

                    <g class='wordCard' filter='url(#wcShadow)' id='wc_4' transform='translate(-52.8, -22)'>
                        <g>
                            <rect y='0' x='0' height='44' width='105.6' rx='8' ry='8' />
                            <circle cx='105.6' cy='0' r='8' />
                        </g>

                        <g transform='rotate(45 105.6 0)'>
                            <path class='x-sign' d='M 101.6,0 109.6,0' />
                            <path class='x-sign' d='M 105.6,-4 105.6,4' />
                        </g>
                    </g>

                    <g class='wordCard' filter='url(#wcShadow)' id='wc_5' transform='translate(-66, -22)'>
                        <g>
                            <rect y='0' x='0' height='44' width='132' rx='8' ry='8' />
                            <circle cx='132' cy='0' r='8' />
                        </g>

                        <g transform='rotate(45 132 0)'>
                            <path class='x-sign' d='M 128,0 136,0' />
                            <path class='x-sign' d='M 132,-4 132,4' />
                        </g>
                    </g>
                </defs>
            </svg>
        </div>
    </div>

    <script type="text/javascript" src="./js/google-analytics.js"></script>
</body>

</html>