<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

    <script type="text/javascript" src="scripts/require-setup.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    <script type="text/javascript" src="scripts/data.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />

    <title>Kanji Navigator</title>
    <style>
        @import url(style.css);
        @import url(festyle.css);
    </style>
</head>


<body>
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
        <defs>
            <filter id="wcShadow" color-interpolation-filters="sRGB">
                <feFlood flood-opacity=".5" flood-color="#000" result="flood" />
                <feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" />
                <feGaussianBlur in="composite1" stdDeviation="3" result="blur" />
                <!--<feOffset dx="1" dy="1" result="offset" />-->
                <feComposite in="SourceGraphic" in2="offset" result="composite2" />
            </filter>
            
            <g id='kanjiBG' transform="translate(0,10)">
                <circle cx="21" cy="21" r="21" stroke-width=".025"/>
            </g>
            
            <g class="wordCard" filter="url(#wcShadow)" id="g125" transform="translate(5,-2)">
                <g>
                    <rect y="12" x="0" rx="5" ry="5" height="42" width="125"/>
                    <circle cx="125" cy="12" r="8"/>
                </g>

                <g transform="rotate(45 125 12)">
                    <path class="x-sign" d="M 120,12 130,12"/>
                    <path class="x-sign" d="M 125,7 125,17"/>
                </g>                      
            </g>

            <g class="wordCard" filter="url(#wcShadow)" id="g124" transform="translate(5,-2)">
                <g>
                    <rect y="12" x="0" rx="5" ry="5" height="42" width="100"/>
                    <circle cx="100" cy="12" r="8"/>
                </g>

                <g transform="rotate(45 100 12)">
                    <path class="x-sign" d="M 95,12 105,12"/>
                    <path class="x-sign" d="M 100,7 100,17"/>
                </g>                      
            </g>

            <g class="wordCard" filter="url(#wcShadow)" id="g123" transform="translate(5,-2)">
                <g>
                    <rect y="12" x="0" height="42" width="75" rx="5" ry="5"/>
                    <circle cx="75" cy="12" r="8"/>
                </g>

                <g transform="rotate(45 75 12)">
                    <path class="x-sign" d="M 70,12 80,12"/>
                    <path class="x-sign" d="M 75,7 75,17"/>
                </g>                      
            </g>

            <g class="wordCard" filter="url(#wcShadow)" id="g122" transform="translate(5,-2)">
                <g>
                    <rect y="12" x="0" rx="5" ry="5" height="42" width="50"/>
                    <circle cx="50" cy="12" r="8"/>
                </g>
                <g transform="rotate(45 50 12)">
                    <path class="x-sign" d="M 45,12 55,12"/>
                    <path class="x-sign" d="M 50,7 50,17"/>
                </g>                
            </g>

            <g class="wordCard" filter="url(#wcShadow)" id="g121" transform="translate(5,-2)">
                <g>
                    <rect y="12" x="0" height="42" width="35" rx="5" ry="5"/>
                    <circle cx="35" cy="12" r="8"/>
                </g>

                <g transform="rotate(45 35 12)">
                    <path class="x-sign" d="M 30,12 40,12"/>
                    <path class="x-sign" d="M 35,7 35,17"/>
                </g>                      
            </g>

        </defs>
    </svg>

    <img style="display:none" src="tanoshi.png"></img>

    <select id="wordHistoryCombo">
        <option value="楽しい">楽しい</option>
        <option value="産業">産業</option>
    </select>

    <button id="addButton" type="button" class="btn btn-default btn-xs" style="margin-left: 30px" id="addButton">Add</button>
    <button id="delButton" type="button" class="btn btn-default btn-xs" id="delButton">Del</button>
    <button id="clearButton" type="button" class="btn btn-default btn-xs">Clear Map</button>

    <div class="btn-group" data-toggle="buttons">

        <label class="jlptBtn btn btn-xs btn-success" data-toggle="tooltip" title="JLPT5">
            <input id='JLPT5' type="checkbox" autocomplete="off">
            <span class="glyphicon glyphicon-ok"></span>
        </label>

        <label class="jlptBtn btn btn-xs btn-info yellow" data-toggle="tooltip" title="JLPT4">
            <input id='JLPT4' type="checkbox" autocomplete="off">
            <span class="glyphicon glyphicon-ok"></span>
        </label>

        <label class="jlptBtn btn btn-xs btn-primary" data-toggle="tooltip" title="JLPT3">
            <input id='JLPT3' type="checkbox" autocomplete="off">
            <span class="glyphicon glyphicon-ok"></span>
        </label>

        <label class="jlptBtn btn btn-xs btn-warning" data-toggle="tooltip" title="JLPT2">
            <input id='JLPT2' type="checkbox" autocomplete="off">
            <span class="glyphicon glyphicon-ok"></span>
        </label>

        <label class="jlptBtn btn btn-xs btn-danger" data-toggle="tooltip" title="JLPT1">
            <input id='JLPT1' type="checkbox" autocomplete="off">
            <span class="glyphicon glyphicon-ok"></span>
        </label>
    </div>
    <select id="hiddenWordsCombo" style="display:inline-block">
        <option></option>
    </select>

    <div id='kanjiMap'></div>

    <script src="../extern/fullscreen.js"></script>

    <button id="fullScreenButton" type="button" class="btn btn-default btn-xs">Full screen</button>
    <button id="zoomToFitButton" type="button" class="btn btn-default btn-xs">Zoom to fit (or double click)</button>

    <script type="text/javascript" src="js/google-analytics.js"></script>

    <!-- the feedback stuff -->
    <script type="text/javascript">
        reformal_wdg_domain = "kanjiNav";
        reformal_wdg_mode = 0;
        reformal_wdg_title = "Kanji Navigator";
        reformal_wdg_ltitle = "Leave feedback";
        reformal_wdg_lfont = "";
        reformal_wdg_lsize = "";
        reformal_wdg_color = "#FFA000";
        reformal_wdg_bcolor = "#516683";
        reformal_wdg_tcolor = "#FFFFFF";
        reformal_wdg_align = "right";
        reformal_wdg_waction = 0;
        reformal_wdg_vcolor = "#9FCE54";
        reformal_wdg_cmline = "#E0E0E0";
        reformal_wdg_glcolor = "#105895";
        reformal_wdg_tbcolor = "#FFFFFF";

        reformal_wdg_bimage = "8489db229aa0a66ab6b80ebbe0bb26cd.png";
    </script>

    <script type="text/javascript" language="JavaScript" src="http://idea.informer.com/tab6.js?domain=kanjiNav"></script>
    <noscript><a href="http://kanjiNav.idea.informer.com">Kanji Navigator feedback </a>
        <a href="http://idea.informer.com"><img src="http://widget.idea.informer.com/tmpl/images/widget_logo.jpg" /></a>
    </noscript>

</body>

</html>